<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename AZAL to HDEF (Audio)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change ECDV to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>#PluginType</key>
				<true/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 -cdfon kext-dev-mode=1</string>
		<key>DefaultVolume</key>
		<string>EE4B1019-6CEA-4523-9F4A-5ED48C06AA58</string>
		<key>NeverHibernate</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C4</key>
		<false/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.12.6+ with native KabyLake support</string>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject &quot;name&quot; as (data)&quot;#display&quot; to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject &quot;IOName&quot; as &quot;#display&quot; to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>/////w==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject &quot;name&quot; as (data)&quot;#display&quot; to disable graphics drivers on AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject &quot;IOName&quot; as &quot;#display&quot; to disable graphics drivers on AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>/////w==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus vendor-id to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>vendor-id</string>
				<key>Value</key>
				<data>//8AAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus device-id to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device-id</string>
				<key>Value</key>
				<data>//8AAA==</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>DwAAAA==</data>
				<key>model</key>
				<string>Sunrise Point-LP HD Audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
				<key>device-id</key>
				<data>G1kAAA==</data>
				<key>framebuffer-con1-alldata</key>
				<data>AQUJAAAIAACHAQAA</data>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>framebuffer-con2-alldata</key>
				<string>&lt;02040a00 00080000 87010000&gt;</string>
				<key>framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Windows 10</string>
					<key>Ignore</key>
					<false/>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>1F8EBD98-C611-4FBE-A604-095DE8684306</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>macOS Recovery</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>F333DDA3-0975-47CC-8CEC-FA8A53356B84</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Title</key>
					<string>macOS</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>1FA5109A-4CD9-4455-9989-6661671CCF27</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>thinkpad</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x591B0000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP141.88Z.F000.B00.1809171524</string>
		<key>Board-ID</key>
		<string>Mac-B4831CEBD52A0C4C</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02740102QXHWVPA8</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>184.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>SerialNumber</key>
		<string>C02VH0SJHV29</string>
		<key>SmUUID</key>
		<string>750874DB-9C64-40CC-9DF7-CA4C3F5CF9DF</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
